#Understanding Delta Tables

In [0]:
%sql
USE CATALOG hive_metastore;

In [0]:
%sql
CREATE TABLE IF NOT EXISTS employees (
  id INT,
  name STRING,
  salary DOUBLE)

In [0]:
%sql
INSERT INTO employees (id, name, salary) VALUES (1, 'Ana Torres', 55000.00);
INSERT INTO employees (id, name, salary) VALUES (2, 'Luis García', 62000.50);
INSERT INTO employees (id, name, salary) VALUES (3, 'María López', 47500.00);
INSERT INTO employees (id, name, salary) VALUES (4, 'Carlos Pérez', 58000.75);
INSERT INTO employees (id, name, salary) VALUES (5, 'Laura Gómez', 61000.00);
INSERT INTO employees (id, name, salary) VALUES (6, 'Jorge Díaz', 53000.00);
INSERT INTO employees (id, name, salary) VALUES (7, 'Carmen Ruiz', 49000.25);
INSERT INTO employees (id, name, salary) VALUES (8, 'Fernando Ramos', 72000.00);
INSERT INTO employees (id, name, salary) VALUES (9, 'Patricia Morales', 51000.00);
INSERT INTO employees (id, name, salary) VALUES (10, 'Ricardo Herrera', 67000.00);
INSERT INTO employees (id, name, salary) VALUES (11, 'Sofía Romero', 60000.00);
INSERT INTO employees (id, name, salary) VALUES (12, 'Andrés Castillo', 59000.80);
INSERT INTO employees (id, name, salary) VALUES (13, 'Marta Navarro', 54500.90);
INSERT INTO employees (id, name, salary) VALUES (14, 'Diego Mendoza', 63000.00);
INSERT INTO employees (id, name, salary) VALUES (15, 'Elena Silva', 52000.50);

In [0]:
%sql
select * from employees;

In [0]:
%sql
DESCRIBE DETAIL employees;

In [0]:
%sql
UPDATE employees SET salary = salary +399 WHERE name LIKE 'A%';

In [0]:
%sql
SELECT * FROM employees;

In [0]:
%sql
DESCRIBE DETAIL employees;

In [0]:
%sql
DESCRIBE HISTORY employees;

In [0]:
%sql
SELECT * FROM employees VERSION AS OF 2;

In [0]:
%sql
DELETE FROM employees;

In [0]:
%sql
SELECT * FROM employees;

In [0]:
%sql
DESCRIBE HISTORY employees;

In [0]:
%sql
RESTORE TABLE employees TO VERSION AS OF 16;

In [0]:
%sql
SELECT * FROM employees;

In [0]:
%sql
DESCRIBE HISTORY employees;

In [0]:
%sql
DESCRIBE DETAIL employees;

In [0]:
%sql
OPTIMIZE employees ZORDER BY id;

In [0]:
%sql
DESCRIBE DETAIL employees

In [0]:
%sql